body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  align-items: flex-start;
  justify-content: stretch;
  color: white;
}

header, footer {
  background-color: #282c34;
  width: 100%;
  min-height: 5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

footer {
  min-height: 3.5rem;
}

.filter {
  margin: 0 2rem;
}

input {
  border: none;
  height: 2rem;
  padding: 2px;
  line-height: calc(1rem + 0.1vw);
  font-size: calc(0.8rem + 0.1vw);
  text-align: left;
  box-sizing: border-box;
}

input[type=button] {
  width: 200px;
  background-color: #b6b6b6;
  text-align: center;
  padding: 0;
}

input[type=string] {
  width: 150px;
  margin-left: 1rem;
}

input[type=number] {
  margin: 0 1rem;
}

main {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #282c34;
  padding: 0 1.5rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  margin: 0.5rem;
  box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.3);
  width: 50px;
  height: 50px;
  padding: 0 5px 5px;
  font-size: calc(10px + 0.05vmin);
  background-color: #282c34;
  pointer-events: visible;
}
.card>* {
  pointer-events: none;
}
.delete {
  pointer-events: visible;
  font-size: 5px;
  text-align: right;
  visibility: hidden;
  margin: 3px 1px;
}
.delete:hover {
  cursor: pointer;
}
.title {
  margin-bottom: 3px;
}
.card:hover {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.3);
  background-color: #303744;
}
.card .up {
  color: chartreuse;
}
.card .down {
  color: crimson;
}
.card:hover .delete {
  visibility: visible;
}

@media screen and (max-width: 990px) {
  header, footer {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    min-height: 10rem;
    padding-left: 1rem;
    width: 100%;
    font-size: 0.8rem;
    box-sizing: border-box;
  }
  main {
    padding: 0 0.5rem;
  }
  footer {
    min-height: 5rem;
  }
  .filter {
    margin: 0;
  }
  input {
    width: 40px;
  }
}

@media screen and (width: 768px) {
  .card {
    width: 11vw;
    height: 8vw;
    font-size: calc(5px + 1vw);
    margin: 0.8vw;
  }
}

@media screen and (width: 375px) {
  .card {
    width: 15.2vw;
    font-size: calc(5px + 1vw);
    margin: 0.59vw;
  }
}